<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
      <div class="d-flex align-items-center me-4">
        <!-- Photo -->
        <img src="assets/photos/voiture.png" alt="Votre photo" width="50" height="50" class="me-2" style="margin:0 10px;">
        <!-- Espacement -->
        <div class="me-4"></div>
        
        <!-- Marque -->
        <a class="a navbar-brand" href="#" style="margin:0 10px;">PRICE</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- Lien Accueil -->
          <a class="a nav-link me-3" href="#" style="margin:0 10px;">Accueil</a>
          <!-- Espacement -->
          <div class="me-4"></div>
          <!-- Lien À propos -->
          <a class="a nav-link me-3" href="#" style="margin:0 10px;">À propos</a>
          <!-- Bouton Connexion -->
          <div class="me-4"></div>
          <button  type="button" class="btn btn-custom " style="margin:0 10px;" (click)="navigateToAuth($event)" >Connexion</button>
        </div>
      </div>
    </div>
  </nav>
  