.custom-card {
    width: 80%;
    margin: 0 auto;
  }

  .round-btn {
    border-radius: 20px; /* Pour arrondir les boutons */
    padding: 15px 40px; /* Agrandissement du padding pour agrandir les boutons */
  }
  .cadre-gris {
    border: 1px solid #CED4DA; /* Bordure grise */
    padding: 10px; /* Espace intérieur */
    border-radius: 5px;
  }
  .radio-label {
    color: gray; /* Couleur grise pour les labels radio */
  }
  .form-check {
    padding: 10px 5px 10px 15px; /* Ajustement de l'espacement autour des radios */
  }
  .form-check2 {
    width: 45%; /* Pour que les radios et leurs cadres aient la même taille */
  }
  .espace {
    height: 20px;
  }
  

  .margin{
    margin-top: 50px;
    
  }
  .card-container {
    height: 450px; /* Hauteur constante souhaitée pour tous les composants */
    background-color: #F6FBF9;
    overflow-y: auto; /* Activation du défilement vertical si nécessaire */
    overflow-x: hidden; 
  }
  .card-container::-webkit-scrollbar {
    width: 5px; /* Largeur de la barre de défilement */
  }
  
  .card-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Couleur de l'arrière-plan de la barre de défilement */
  }
  
  .card-container::-webkit-scrollbar-thumb {
    background: #888; /* Couleur du bouton de défilement */
    border-radius: 5px; /* Arrondi du bouton de défilement */
  }
  
  .card-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Couleur du bouton de défilement au survol */
  }
  
  .space-between {
    margin-bottom: 20px; 
 }
  .space-between {
    margin-bottom: 20px; 
 }
 .back:hover {
  cursor: pointer;
  
}
.selected {
  background: #e6f2ee;
  border: 1.5px solid #84C7AE;
}