.btn-custom {
   
    color: #ffffff; /* couleur du texte */
    border-radius: 50px;
    padding: 10px 50px;
    width: 178px; /* Définir une largeur fixe pour les boutons */
    margin:20px 30px ;
  }
  .colorb1{
    background-color: #84C7AE;
    border-color: #84C7AE;
  }
  .colorb2{
    background-color: #5A5E5C;
    border-color: #5A5E5C;
  }
  .bouton{
    margin-top: 10px;
    
  }